
.dark.panel {
    border: 0px solid transparent;
    background: #000;
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.entries {
    padding-top: 0;
    height: 100%;

    .entry {
        margin: 0;
        padding: 0.75em;
        border-bottom: 1px solid #494949;

        &.active {
            background: #444;
        }

        &:last-child {
            border-bottom: none;
        }

        .navigation-link, span {
            display: block;
            line-height: 1.5em;
        }
    }
}

.singlepost {
    padding-top: 20px;

    ul, ol { margin-left: 20px; }
}

.comment {
    .comment {
        padding: 0px 0px 0px 30px;
    }

    .arrows {
        position: relative;
        top: -10px;
    }
}

.replies {
    opacity: 1;
    max-height: auto;
    overflow: hidden;
    -webkit-transition: 1s;

    &.hidden {
        opacity: 0;
        max-height: 0px;
        -webkit-transition: 1s;
    }
}



.selftext li {
    margin-left: 1.5em;
}



.full-width {
    max-width: 100%;
    width: 100%;
}

.full-height {
    position: fixed !important;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    margin-bottom: 0px;
}

.margined { padding: 0 20px; }
.warn { color: red; }
.at-center { text-align: center; }
.at-right { text-align: right; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }


@media only screen and (max-width: 768px) {
    .navigation .entries {
        max-height: 100000px;
        overflow-y: hidden;
    }

    .full-height {
        position: relative !important;
        overflow-y: visible;
    }
}


