// VARS
$bg: #fff;
$navigation-gb: #dee3e8;
$unselected-fg: #666666;
$borders: #eeeeee;
$small-device: "all and (max-width: 800px)";

@import "notes/mixins";
@import "notes/layout";
@import "notes/navigation";
@import "notes/editor";
@import "notes/configs";


