<div class="navigation">
    <header class="margined">
        <h5>{{title}}</h5>
    </header>

    <section class="entries">
        <div class="at-center" ng-show="loading">
            <img src="../assets/img/ajax-loader.gif" alt="loader" />
        </div>
        <div class="entry" id="entry-{{entry.id}}"
                ng-show="entries.length"
                ng-repeat="entry in entries"
                ng-class="{active: activePost == entry.id}"
                >
            <a class="navigation-link"
                    ng-click="showPost()"
                    ng-href="#/{{subreddit}}/{{entry.id}}">
                {{entry.title | unencode}}
                <small ng-show="entry.nsfw" class="warn">(NSFW)</small>
            </a>
        </div>
    </section>
</div>

