<!-- Post  -->
<section class="singlepost">
    <article ng-show="activePost">
        <h3>
            <a href="{{post.url || ('http://www.reddit.com' + post.permalink)}}" target="_blank">{{post.title}}</a>
        </h3>

        <p ng-show="post.type.image">
            <a id="post-image" href="{{post.url}}" target="_blank"></a>
        </p>

        <div ng-show="post.type.post">
            <p class="at-right">
                <a href="{{post.url}}" target="_blank"> (External Link) </a>
            </p>

            <section class="selftext" ng-bind-html-unsafe="post.html | unencode"></section>
        </div>

        <div ng-show="post.type.external" class="panel">
            <a href="{{post.url}}" target="_blank"> (External Link) </a>
        </div>
    </article>

    <p class="at-center" ng-show="loading">
        <img src="../assets/img/ajax-loader.gif" alt="loader" />
    </p>

    <article class="panel" ng-show="!activePost">
        <p>Select a post on the navigation panel</p>
    </article>

    <section class="comments-section" ng-show="comments.length">
        <h4>Comments:</h4>
        <div ng-repeat='comment in comments' ng-include="'comments'"></div>
    </section>
</section>
<!-- /Post -->
