<dl class="sub-nav">
    <dt>Subreddits:</dt>

    <dd ng-repeat='subreddit in subreddits'
        ng-class="{true:'active', false:''}[subreddit == active]">
        <a ng-href="#/{{subreddit}}">{{subreddit}}</a>
    </dd>
</dl>
