* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sidebar, .editor {
  position: fixed;
  top: 0px;
  bottom: 0px; }

.sidebar {
  width: 25%;
  left: 0px;
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden; }

.navigation {
  padding: 20px;
  min-height: 100%;
  position: relative; }

.editor {
  width: 73.33333%;
  padding-top: 20px;
  right: 0px; }

.float-right {
  float: right; }

.navigation {
  background-color: #dee3e8;
  box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.6) inset, 0 0 0 0 transparent, -15px 0 15px -15px rgba(0, 0, 0, 0.6) inset; }

.navigation .controls {
  margin: 0px;
  padding: 0px;
  line-height: 30px; }
  .navigation .controls select {
    background: white; }

.navigation .notes-list ol {
  padding: 0px; }
.navigation .notes-list li {
  border-bottom: 1px solid #c8c8c8;
  color: #666666;
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  list-style: none;
  overflow: hidden;
  padding: 0px 3px; }
.navigation .notes-list li.selected {
  color: #000;
  text-shadow: 0 0 3px #bbb; }
.navigation .notes-list li.selected::before {
  position: absolute;
  background-color: #fff;
  content: "";
  display: block;
  height: 18px;
  margin-top: 15px;
  right: -9px;
  width: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3); }

.editor {
  background-color: rbga(200, 100, 50, 0.4); }
  .editor header {
    position: relative;
    margin-right: 75px; }
    .editor header input {
      display: block;
      border: none; }
      .editor header input:focus {
        outline: none; }
    .editor header .title {
      font-size: 2em;
      padding: 10px 10px;
      width: 100%;
      border: 1px solid #eeeeee; }
    .editor header .conf {
      position: absolute;
      top: 10px;
      right: -65px;
      cursor: pointer;
      font-size: 40px;
      color: #526375; }
      .editor header .conf:hover {
        color: #758a9f; }
    .editor header .tags {
      margin-top: 10px;
      color: #555;
      padding: 0 15px;
      width: 50%;
      font-style: italic; }
    .editor header .post-controls {
      line-height: 30px; }
  .editor #editorarea {
    font-size: 14px;
    position: absolute;
    top: 125px;
    right: 20px;
    bottom: 20px;
    left: 0;
    border-top: 1px solid #EEE; }
  .editor a.delete {
    color: red;
    display: block;
    float: right;
    font-size: 12px;
    cursor: pointer;
    padding-right: 10px; }

.configs {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .configs .inner {
    background-color: white;
    max-width: 600px;
    min-height: 400px;
    margin: 100px auto;
    padding: 20px 20px 50px 50px;
    box-shadow: 0 0 10px black; }
