<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">                  <!--<![endif]-->
    <head>
        <title>Contacts</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/foundation.min.css" />

        <!--[if IE 8]>
            <link rel="stylesheet" href="/assets/css/normalize.css" />
            <link rel="stylesheet" href="/assets/css/ie8-grid-foundation-4.css" />
            <script>
                function dom(x) { document.createElement(x) }
                dom('ng-include'); dom('ng-pluralize'); dom('ng-view');
                dom('ng:include'); dom('ng:pluralize'); dom('ng:view');
            </script>
        <![endif]-->

        <script src="/assets/js/angular.min.js"></script>
        <script src="/assets/js/angular-resource.min.js"></script>
    </head>

    <body xmlns:ng="http://angularjs.org" id="ng-app" ng-app="contacts">

        <section>
            <div class="row" ng-controller="List">
                <form class="columns large-6">
                    <fieldset>
                        <legend>Create Contact</legend>

                        <label>Name:     </label> <input type="text" ng-model="neo.name"/>
                        <label>Phone:    </label> <input type="text" ng-model="neo.phone"/>
                        <label>Email:    </label> <input type="text" ng-model="neo.email"/>
                        <label>Address:  </label> <input type="text" ng-model="neo.address"/>
                        <button ng-click="add()">Add Contact</button>

                    </fieldset>
                </form>

                <div class="columns large-12">
                    <input style="float: right" placeholder="search" ng-model="search"/>
                    <table width="100%">
                        <tr>
                            <th width="20%">Name</th>
                            <th width="20%">Phone</th>
                            <th width="20%">Email</th>
                            <th width="20%">Address</th>
                            <th width="20%">Actions</th>
                        </tr>

                        <tr ng-repeat="contact in contacts | filter:search">
                            <td ng-show="!contact.isEditing">{{contact.name}}</td>
                            <td ng-show="!contact.isEditing">{{contact.phone}}</td>
                            <td ng-show="!contact.isEditing">{{contact.email}}</td>
                            <td ng-show="!contact.isEditing">{{contact.address}}</td>

                            <td ng-show="!contact.isEditing">
                                <button class="tiny" ng-click="edit($index)">edit</button>
                            </td>

                            <td ng-show="contact.isEditing" colspan="5">
                                <label>Name:     </label> <input type="text" ng-model="editing.name"/>
                                <label>Phone:    </label> <input type="text" ng-model="editing.phone"/>
                                <label>Email:    </label> <input type="text" ng-model="editing.email"/>
                                <label>Address:  </label> <input type="text" ng-model="editing.address"/>
                                
                                <div style="float: right">
                                    <button ng-click="save($index)">save</button>
                                    <button ng-click="remove($index, contact.id)"> delete </button>
                                </div>
                            </td>
                        </tr>

                        <tr ng-hide="contacts.length">
                            <td colspan="5">No contacts to show</td>
                        </tr>
                    </table>
                </div>
            </div>

        </section>
        <script src="contacts.js"></script>
    </body>
</html>

