<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selects</title>
    <link rel="stylesheet" href="/assets/css/foundation.min.css" />
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-resource.min.js"></script>

</head>
<body ng-app="myapp" class="antialized">

    <section class="main-container">
        <div class="row" ng-controller="Form">
 
            <form class="columns large-4">
                <fieldset>
                    <legend>Country &amp; City</legend>
                    <label>
                        <span>Select a County</span>
                        <select name="country" class="country-value"
                                ng-model="country"
                                ng-options="c as c.name for c in countries">
                        </select>
                    </label>
                    <label>
                        <span>Select a City</span>
                        <select name="city" class="city-value"
                                ng-model="city"
                                ng-options="c as c.name for c in (cities | filter:{ country: country.code })">
                        </select>
                    </label>
                    <label>
                        <span>Enter a Description</span>
                        <input type="text" ng-model="description"/>
                    </label>
                    <button class="button small" ng-click="add()"> Add </button>
                    <button class="button small" ng-click="clean()"> Clean </button>

                    <div class="alert-box alert" ng-show="error">
                        {{error}}
                        <a class="close" ng-click="error = null">&times;</a>
                    </div>
                </fieldset>
            </form>
            
            <div class="columns large-8">
                <br><br>
                <table class="table" width="100%">
                    <tr>
                       <th width="40%" colspan="2">Country</th>
                       <th width="40%" colspan="2">Cicy</th>
                       <th width="20%" colspan="1">Description</th>
                    </tr>

                    <tr ng-show="data.length" ng-repeat="row in data">
                        <td width="10%">{{row.country.code}}</td>
                        <td width="30%">{{row.country.name}}</td>
                        <td width="10%">{{row.city.code}}</td>
                        <td width="30%">{{row.city.name}}</td>
                        <td width="20%">{{row.description}}</td>
                    </tr>
                    <tr ng-hide="data.length">
                        <td colspan="5">There's no data to show.</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <script src="select.js"></script>

</body>
</html>
