.configs {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
    top: 0;  bottom: 0;
    left: 0; right: 0;

    .inner {
        background-color: white;
        max-width: 600px;
        min-height: 400px;
        margin: 100px auto;
        padding: 20px 20px 50px 50px;
        box-shadow: 0 0 10px black;
    }
}

