.editor {
    background-color: rbga(200, 100, 50, 0.4);

    header {
        position: relative;
        margin-right: 75px;

        input {
            display: block;
            border: none;
            &:focus { outline: none; }
        }

        .title {
            font-size: 2em;
            padding: 10px 10px;
            width: 100%;
            border: 1px solid $borders;
        }

        .conf {
            position: absolute;
            top: 10px;
            right: -65px;
            cursor: pointer;
            font-size: 40px;
            color: darken($navigation-gb, 50%);

            &:hover {
                color: darken($navigation-gb, 35%);
            }
        }

        .tags {
            margin-top: 10px;
            color: #555;
            padding: 0 15px;
            width: 50%;
            font-style: italic;
        }

        .post-controls {
            line-height: 30px;
        }
    }

    #editorarea {
        font-size: 14px;
        position: absolute;
        top: 125px;
        right: 20px;
        bottom: 20px;
        left: 0;
        border-top: 1px solid #EEE;
    }

    a.delete {
        color: red;
        display: block;
        float: right;
        font-size: 12px;
        cursor: pointer;
        padding-right: 10px;
    }
}
