* {
    @include box("&");
}
.sidebar, .editor {
    position: fixed;
    top: 0px;
    bottom: 0px;
}
.sidebar {
    @include cols(3);
    left: 0px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation {
    padding: 20px;
    min-height: 100%;
    position: relative;
}

.editor {
    @include cols(8.8);
    padding-top: 20px;
    right: 0px;
}


.float-right { float: right }

