@mixin box($element) {
  #{$element} {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@mixin calc($element, $property, $formula) {
  #{$element} {
    #{$property}: -webkit-calc(#{$formula});
    #{$property}:    -moz-calc(#{$formula});
    #{$property}:         calc(#{$formula});
  }
}

@mixin cols($ammount) {
    width: 100% / 12 * $ammount;
}

@mixin shadows-inside-me($element) {
  box-shadow: 15px 0 15px -15px rgba(0, 0, 0, 0.6) inset,
              0 0 0 0 transparent,
              -15px 0 15px -15px rgba(0, 0, 0, 0.6) inset;
}

@mixin shadows-aside-me($element) {
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
}

@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees});
     -moz-transform: rotate(#{$degrees});
          transform: rotate(#{$degrees});  
}
