.navigation {
    background-color: $navigation-gb;
    @include shadows-inside-me("&");
}

.navigation .controls {
    margin: 0px;
    padding: 0px;
    line-height: 30px;

    select {
        background: white;
    }
}

.navigation .notes-list {
    ol { padding: 0px }
    li {
        border-bottom: 1px solid #c8c8c8;
        color: $unselected-fg;
        cursor: pointer;
        height: 45px;
        line-height: 45px;
        list-style: none;
        overflow: hidden;
        padding: 0px 3px;
    }

    li.selected {
        color: #000;
        text-shadow: 0 0 3px #bbb;
    } 

    li.selected::before {
        position: absolute;
        background-color: #fff;
        content: "";
        display: block;
        height: 18px;
        margin-top: 15px;
        right: -9px;
        width: 18px;
        @include rotate("45deg");
        @include shadows-aside-me("&"); 
    }
}
