<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">                  <!--<![endif]-->
    <head>
        <title>Readdit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../assets/css/foundation.min.css" />
        <link rel="stylesheet" href="../assets/css/le-reddit.css" />

        <!--[if IE 8]>
            <!-- IE <3 -->
            <link rel="stylesheet" href="../assets/css/normalize.css" />
            <link rel="stylesheet" href="../assets/css/ie8-grid-foundation-4.css" />
            <script>
                function dom(x) { document.createElement(x) }
                dom('ng-include'); dom('ng-pluralize'); dom('ng-view');
                dom('ng:include'); dom('ng:pluralize'); dom('ng:view');
            </script>
        <![endif]-->
        <script src="../assets/js/angular.min.js"></script>
        <script src="../assets/js/angular-resource.min.js"></script>
        <script src="../assets/js/angular-modules/angular-ui-router.min.js"></script>

    </head>

    <body xmlns:ng="http://angularjs.org" id="ng-app" ng-app="reddit" class="antialiased">
        <section>

            <div class="row collapse full-width">

                <div class="full-height large-8 columns push-4">

                    <!-- github-ribbon -->
                     <a href="https://github.com/hersonhn/angularjs-demos/"
                            class="hide-for-small" target="_blank">
                        <img style="position: absolute; top: 0; right: 0; border: 0;"
                            width="120" height="120"
                            src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
                            alt="Fork me on GitHub">
                    </a>
                    <!-- /github-ribbon -->

                    <div class="margined">
                        <div ui-view="singlepost"></div>
                    </div>
                </div>

                <div class="full-height dark panel large-4 columns pull-8" id="dark-panel">
                    <div class="margined">
                        <h4>Readdit</h4>
                        <div ui-view="subreddits"></div>
                    </div>
                    <div ui-view="posts"></div>
                </div>
            </div>
        </section>

        <script type="text/ng-template"  id="comments">
            <div class="comment" ng-init="comment.showReplies = false">
                <div ng-show="comment.html">
                </div>
                <div ng-show="comment.html">
                    <hr />

                    <p class="float-left">
                        <strong>{{comment.author}}</strong>:
                    </p>
                    <p class="float-right">
                        <small>
                            Upvotes:   {{comment.ups || 0}}
                            Downvotes: {{comment.downs || 0}}
                        </small>
                    </p>
                    <div class="clear"></div>

                    <div ng-bind-html-unsafe="comment.html | unencode"></div>

                    <div class="arrows float-right" ng-show="comment.replies.length">
                        <a ng-click="comment.showReplies =! comment.showReplies">
                            <small ng-show="comment.showReplies">[hide replies]</small>
                            <small ng-hide="comment.showReplies">[show replies]</small>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="replies-container" ng-show="comment.replies.length">

                    <div class="replies" ng-class="{true:'', false:'hidden'}[comment.showReplies]">
                        <div ng-repeat="comment in comment.replies"
                             ng-include="'comments'"></div>
                    </div>
                </div>
            </div>
        </script>

        <script src="reddit.js"></script>

    </body>
</html>

