<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">                  <!--<![endif]-->
    <head>
        <title>Notes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../assets/css/normalize.css" />
        <link rel="stylesheet" href="../assets/fontello-d8e1a76c/css/fontello.css" />
        <link rel="stylesheet" href="../assets/css/notes.css" />

        <script src="../assets/js/lodash.custom.min.js"></script>
        <script src="ace/ace.js"></script>
        <script src="ace/keybinding-vim.js"></script>
        <script src="../assets/js/angular.min.js"></script>
        <script src="../assets/js/angular-resource.min.js"></script>
    </head>

    <body ng-app="notes">
        <section ng-controller="navigation">
            
            <aside class="sidebar">
                <section class="navigation">
                    <section class="controls">
                        <div class="float-right">
                            <button ng-click="newNote()">New Note</button>
                        </div>
                        <span>Tag:</span>
                        <select ng-model="activeTag" 
                                ng-options="t.id as t.name for t in tags"
                                ng-selected="listNotesWithTag(activeTag)">
                        </select>

                    </section>

                    <nav class="notes-list">
                        <ol ng-show="notes.length">
                            <li ng-repeat="note in notes"
                                    ng-class="{ selected: active.id == note.id }"
                                    ng-click="showNote(note)">
                                <span ng-show="note.title">
                                    {{ note.title }}
                                </span>

                                <i ng-hide="note.title">
                                    <small> {{ note.text | summary }} </small>
                                </i>
                            </li>
                        </ol>
                    </nav>
                </section>
            </aside>

            <section class="editor">
                <header>
                    <div>
                        <input type="text" class="title" 
                                placeholder="Set the title..."
                                ng-model="active.title" 
                                ng-keypress="waitforsave()"/>

                        <a  class="conf icon-cog-alt"
                            ng-click="$root.showSettings()"></a>
                    </div>
                    <div class="post-controls">
                        <a class="delete"
                                ng-click="removeNote(active)"
                                ng-show="active.id">
                            Delete Note
                        </a>
                        <input type="text" class="tags"
                                placeholder="set some tags..." 
                                ng-model="tagsString"
                                ng-keypress="waitforsave()"/>
                    </div>
                </header>
                <div id="editorarea"></div>
            </section>
            
            <div ng-view></div>

        </section>
        <script src="notes.js"></script>
    </body>
</html>

