

<section class="configs">
    <div class="inner">
        <button class="float-right" ng-click="$root.closeSettings()">x</button>

        <h3>Vim mode</h3>
        <p>
            <span>Vin mode:</span>
            <select ng-model="$root.configs.vim">
                <option value="off">Off</option>
                <option value="on">On</option>
            </select>
        </p>
        
        <h3>Theme</h3>
        <p>
            <span>Theme Name:</span>
            <select ng-model="$root.configs.theme"
                ng-options="t.code as t.description for t in ace.themes"></select>
        </p>

        <h3>Language</h3>
        <p>
            <span>Language:</span>
            <select ng-model="$root.configs.language"
                ng-options="l.code as l.description for l in ace.languages"></select>
        </p>
        <br><br>
        <p>
            <button ng-click="$root.editorSettings()">Done</button>
        </p>
    </div>
</section>
